*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(149, 85, 233);
    color: white;
    font-family: 'Times New Roman', Times, serif;



}
.main{
 margin: 0%;
}

.container1{
    margin-top: 200px;
    margin-left: 10%;

}



.heading{
     font-size: 40px;
     color: rgb(61, 2, 2);
      white-space: pre;
}
.para1{
    border: none;
    padding: 20px;
    font-size: 18px;
    float: left;
    white-space: pre;

}
.rating-data{
    padding: 18px;
    border-radius: 20px;
    background-color: sandybrown ;
    display: grid ;
    width: 300px;
    
}
.rate1 ,.rate2,.rate3{
 border: none;
 padding: 10px;


}
.card1{
  width: 20%;
  background-color: rgb(73, 18, 73);
  height: 70%;
  border-radius: 10px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  display: inline-block;
  margin-left: 60px;
   

}
  .card-text{
      text-align: centers;
      padding: 10px;

  }
  .card-image img{
      width: 100%;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 5px;
  }
  .card1:hover{
      box-shadow: 3px 3px 10px yellow;
      cursor: pointer;
    
  }
  .vb{
      color: violet;
      text-align: center;
      white-space: pre;
  }
 .sim{
     text-align: center;
 }
